<%- include("./partials/header") %>
<body>
    <h3 style="font-size:2rem; font-weight:bold; color:rgb(250, 54, 54); text-align:center; padding-bottom:0px;">Oops! Page Not Found</h3>
<div class="wrapper">
    
    <img src="../assets/img/404.svg" alt="404" class="img-fluid im">
</div>

</body>

<%- include("./partials/footer") %>